body {
    background-color:white;
}

.active a:link {
    background-color: none;
}

nav {
    top: 0px;
    text-align: center;   
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
}
nav>ul li {
    position: relative; /*we must add a position to our main navigation bar so we can position a drop-down properly */
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 23px;
    font-family: georgia;
    color:bisque;
    border: 3px solid bisque;
    background-color: #5c745c;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    width: 150px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 5px;
    margin-inline: 14px;
}
nav a {
    text-decoration: none;
    display: inline-block;
    width: 150px; /*this is important to set so our drop-down doesn't go across the page*/
    margin: 2px;
    color:bisque;

}
nav a:active{
    color:bisque;
    display:inline;

}
nav ul>li ul {
    position: absolute;
    display: none;
    top: 85%;
}
nav ul ul li {
    float:none;
}
nav>ul>li:hover>ul{
    display: block;
}

a:visited {
    color:bisque;

}



