
body {
    background-color:white;
}

nav {
    top: 0px;
}
nav>ul {
    list-style-type: none;
    margin:auto;
    height:145px;
    width:95%;
    padding:0;
    overflow:hidden;
    background-color: chartreuse;
    border-radius: 35px;
}
nav>ul li {
    display:inline-block;
    padding:20px;
    font-weight: bold;
    width: 10%;
    border: 5px solid green;
    border-radius: 5px;
    margin-top: 37px;
    margin-left:60px;
}
na>a {
    display: inline-block;
    text-decoration: none;
    color:bisque;
    width:15px;
    padding: 0px 0px;
    margin:auto;
}

nav a:link{
    background-color:none;
}
nav ul li:hover, nav ul li:focus{
    padding: 20px 20px 20px 20px;
    background-color: blue;
}
nav ul>li ul {
    list-style-type: inherit;
    display: none;
    position: absolute;
    top:100%;
}

nav>ul>li:hover>ul{
    display:block;
    position: absolute;
}

footer {
    color: orange;
}