@font-face {
    font-family: SquarePeg;
    src: url("SquarePeg-Regular.ttf")
}

/* Print Stylesheet*/

@media print {
    * {
        background:transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-size: 4pt;
    }
    .main-nav,
    .sidebar,
    .comments,
    .main-footer,
    .img 
    #wrap {
        display: none;
    }
    .h2 {
        font-family: Verdana, serif;
        margin-bottom: 0;
        border: none;
        text-align: center;
    }
    a[href^="http:"]::after {
        content: " [" attr(href)"]";
        color: blue;
    }
    @page {
        margin: 1in;
    }
    ul {
        font-family: Verdana, serif;
        page-break-after: avoid;
    }
    p, ul {
        font-family: Verdana, serif;
        orphans: 3;
        widows: 3;
        font-size: 11pt;
        margin: 1in;
    }
    blockquote {
        font-size: 24pt;
        font-family: SquarePeg;
    }
    footer {
        font-family: Verdana, serif;
        font-size: 18pt;
    }
}

/* header formats: */

h1 {
    color: magenta;
    margin-bottom:55px;
    font-size: 66px;
    text-align: center;
}

h2 {
    color: magenta;
    font-size: 72pt;
    padding-left: 10%;
    margin-bottom: 0px;
    font-family: SquarePeg;
}

h3 {
    font-size:18px;
}

/*body and div formats:*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('watercolor.jpeg');
}

div {
    padding: 20px;
    color:pink;
}

/* Word content (paragraphs) formatted here: */

main p {
    font-size: 100%;
    font-weight:normal;
    margin-right:15%;
}

main p:first-child::first-line{
    font-weight: bold;
}

main p:first-child::first-letter {
    font-size: 150%;
    font-weight: bold;
}

p {
    font-size: 100%;
    font-weight:normal;
    font-size: 18px;
    margin-right: 15%;
}

p:first-child::first-line {
    text-indent: 20px;
    font-weight: bold;
}

p, blockquote {
    color:black;
    margin-left: 16%;
}

video {
    margin-left: 40%;
    margin-right: 40%;
}

a {
    color:black;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    display: none;
    font-size: 22px;
} 

.resume {
    font-family: 'Poppins', sans-serif;
    margin-left: 40% ;
}

footer {
    color:darkred;
    margin:50px;
    text-align:center;
}

.profile {
    margin-left:10%;
}

.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        "header"
        "sidebar"
        "content"
        "sidebar2"
        "footer"
}

/* formatting the contact links at the bottom: */

.contacts {
    height: 32px;
    width: 332px;
    display: inline-flex;
    padding: 45px;
}

/* media query's for mobile layout, two columns - still in the works: */

@media (min-width:500px) {
    .wrapper {
        grid-template-columns: 20% auto;
        grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar 2 sidebar 2"
        "footer footer";
    }
    p {
        font-size: 1.25rem;
    }
}

@media (min-width:600px) {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas: 
        "header header header"
        "sidebar content sidebar 2"
        "footer footer footer";
        max-width: 600px;
    }
    p {
        font-size: 1.25rem;
    }
}
