
#paragraph {font-style: italic;}
.paragraph {color: blue;}

#green {font-style: bold;}
.green {color: green;}

#orange{font-style: italic;}
.orange{color: orange;}

#blue{font-style: underline;}
.blue{color: blue;}

#hex{font-style: bold;}
.hex{color: #FF5733}